@import "./utils/mixins";
@import "./utils/variables";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/footer";
@import "./utils/functions";

#card__loader{
	display: none;
}
.menu__image{
	img {
		width: 100%;
		height: 275px;
		position: absolute;
		object-fit: cover;
}
}

.fa-arrow-left {
	color: $text__color--black;
	position: absolute;
	left: 5%;
}
header {
	@include position;
}
.menu__restaurant {
	height: 1240px;
	background-color: $bg__color--lightgrey;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
	position: relative;
	top: 220px;
	padding-bottom: 220px;
    font-family: $font__family--Roboto;
}
.menu__title {
	@include position;
}

.menu_title--name {
	font-family: $font__family--Shrikhand;
	font-size: 28;
	font-style: italic;
	margin-left: 0%;
}
.restaurant__favorite {
	i {
		position: absolute;
		right: 13px;
		top: 35px;
	}
}
.bordered__title {
	margin-left: 15px;
	border-bottom: 4px solid $tertiary__color;
}
.menu__contain--entree {
	@include padding10px;
    
}
.menu__contain--plats {
		@include padding10px;
}
.menu__contain--desserts {
		@include padding10px;
}

.menu__contain--entree .menu__card{
    animation: slideInFromLeft 3s ease-in-out;
    animation-fill-mode: both;
	animation-delay: 2s;
}
.menu__contain--plats .menu__card{
    animation: slideInFromRight 3s ease-in-out;
    animation-fill-mode: both;
	animation-delay: 5s;
}
.menu__contain--desserts .menu__card{
    animation: slideInFromLeft 3s ease-in-out;
    animation-fill-mode: both;
	animation-delay: 8s;
}
.menu__contain--entree{
	@include position__colonne;
  }
  
  .menu__card {
	background: white;
	border: 1px solid $text__color--white;
	  background-color: $bg__color--white;
	  box-shadow: -1px 3px 10px 3px rgba(0,0,0,0.3);
	border-radius: 25px;
	padding: 10px;
	width: 83%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	font-family: "roboto", sans-serif;
	@include position__colonne;
	&:hover{
		.menu__card--contain h3{
			@include ellipsis;
			margin-right: 25%;
			transition: 800ms;
		}
		.dish__descriptionandprice h4{
			@include ellipsis;
		}
		.dish__price {
			margin-right: 25%;
			transition: 800ms;
		}
		.dish__choise {
			visibility: visible;
			margin-right: 60%;
			transition: all 2s;
			transform: translate(-30%, 0%);
			i {
				transform: rotate(2turn);
				transition: transform 2s;
			}
		}
	}
}

  .menu__card--contain{
	width:100%;
	height: auto;
  }
  .menu__card--contain .dish__descriptionandprice{
	@include position__card--txt;
	width: 100%;
	flex-wrap: nowrap;
  }
  
  .menu__card--contain h3{
	margin:0;
	padding: 0%;
	font-size: 18px;
	font-weight: 600;
}
.dish__descriptionandprice{
	margin: 0%;
	padding: 0%;
}
.dish__descriptionandprice h4{
	font-size: 15px;
	font-weight: 300;
	margin: 0%;
}
.dish__descriptionandprice h5{
	font-size: 15px;
	font-weight: 700;
	margin: 0%;
}

.dish__choise {
	position: absolute;
	margin-left: 81%;
	visibility: hidden;
	button {
	    @include position;
		width: 70px;
		height: 73px;
		background-color: $tertiary__color;
		border: none;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		cursor: pointer;
	}
	
	i {
	    @include position;
		width: 20px;
		height: 20px;
		border: 1px solid $text__color--white;
		border-radius: 30px;
		background-color: $bg__color--white;
		color: $tertiary__color;
    }
	
}

.btn {
	width: 50%;
	margin-left: 10%;
	padding-bottom: 0;
    
}


@media screen and (min-width: 768px) and (max-width:1023px){

}