@import "./layout/header";
@import "./utils/mixins";
@import "./utils/variables";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/footer";
@import "./utils/functions";


.card__loader {
	background: linear-gradient($secondary__color, $primary__color);
    overflow: hidden;
    position: fixed;
	display: flex;
	justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 100;
  	animation: fadeInOut 3s linear forwards;
  
}
.loader {
	color: $loader__color--word;
	font-family: $font__family--Poppins;
	font-weight: 500;
	font-size: 25px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 40px;
	padding: 4%;
	display: flex;
	justify-content: center;
	position: relative;
	top:25%;
	border-radius: 8px;
	animation: fadeOut 9s ease-in-out 3s forwards;
	p{
		margin: 0;
		font-size: 25px;
		font-weight: 900;
	}
}
.words {
	overflow: hidden;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		
	}
}
.word {
	display: block;
	height: 100%;
	padding-left: 6px;
	color: $loader__color--words;
	animation: loader 4s infinite;
}

body {
	margin: 0%;
}
.main-container {
	width: 100%;
	height: auto;
	max-width: 767px;
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	overflow: hidden;
}

.icon-location {
	@include position;
	background-color: $bg__location--color;
	padding: 15px;
	border-top: 2px solid rgb(216, 214, 214);
}

.location {
	padding-left: 15px;
}
.location__field {
	input {
		width: 90px;
		padding-left: 10px;
		border-style: hidden;
		background-color: $bg__location--color;
		cursor: pointer;
	}
}
.section__bg-color {
	background-color: $bg__color--lightgrey;
	overflow-y: hidden;

}
h1 {
	font-size: 24px;
	font-weight: 700;
	margin: 0% 10%;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
    font-family: $font__family--Roboto;
}
p {
	font-size: 18px;
	margin: 0%;
	text-align: center;
	margin-bottom: 55px;
    font-family: $font__family--Roboto;
}

.btn {
	&:hover {
		background: #eba2d6;
		border: 1px solid #bfb5cc;
	}
}
.process__steps{
    margin-bottom: 40px;
	@include position__colonne;
}

.process__title {
	padding: 0 15px;
	font-size: 24px;
	font-weight: 700;
    font-family: $font__family--Roboto;
}
.process__step {
    @include position;
	width: 85%;
	height: 72.38px;
	border: 1px solid #F6F6F6;
	border-radius: 20px;
	margin-left: 25px;
	margin-bottom: 20px;
	align-items: center;
    font-family: $font__family--Roboto;
	background-color: $bg__color--lightgrey;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
	position: relative;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	.process__icon {
		.process__text {
			display: flex;
			text-align: center;
		}
	}
}
.process__step {
	&:hover {
		background-color: #e0c7d9;
	}
	margin-bottom: 20px;
    border: none;
}
.process__icon {
	color: #7E7E7E;
	margin-left: 20px;
	&:hover {
		color: $primary__color;
	}
}
.process__text {
	font-size: 16px;
	font-weight: 500;
	margin: 10%;
	margin-left: 5%;
}

.process__number {
    @include position;
	position:absolute;
	left: -15px;

	
	width: 24px;
	height: 24px;
	border-radius: 25px;
	font-size: 14px;
	background-color: $primary__color;
	text-align: center;
	color: $text__color--white;
	
}

.restaurants {
	background-color: $bg__color--lightgrey;
	padding: 10px 15px;
}

.restaurants__title {
	font-size: 24px;
	font-weight: 700;
    font-family: $font__family--Roboto;
}

article .card{
	display: block;
	
}

.restaurants__cards {
	position: relative;
	.card {
		width: 100%;
		height: 251px;
		border-radius: 15px;
		background-color: $bg__color--white;
		margin-bottom: 20px;
		

	img {
		width: 100%;
		height: 174px;
		object-fit: cover;
		border-radius: 20px 20px 0 0;
		z-index: -5555;
	}
}
	a {
		text-decoration: none;
		color: $text__color--black;
		margin: 0%;
		text-align: left;
		width: 29%;
        font-family: $font__family--Roboto;
		
	}
	.card__txt {
        @include position__hpcard--txt;
		width: 100%;
		height: 77px;
		padding-left: 10px;
		padding-top: 10px;
	}
}

.card__contect {
	@include position__colonne;
	position: relative;
	.card__title {
		margin: 0%;
		padding-bottom: 5px;
		font-size: 18px;
		font-weight: 800;
	}
	.card__subtitle{
		font-size: 17px;
		font-weight: 300;
	}
}

.card__icon--heart{
	i {
		position: absolute;
		right: 40px;
		z-index: 111;
		bottom: 35px;
		
	}
	.icon__heart--full {
		opacity: 0;
		&:hover {
			opacity: 1;
			background-image: linear-gradient($secondary__color, $primary__color);
			background-clip: text;
			-webkit-background-clip: text;
			color: $color__transparent;
			cursor: pointer;
			transition: all 2s linear;
		}
	}
}

.restaurants__cards {
	.card__badge--nouveau {
		&::before{
			@include position;
			position: absolute;
			content: "Nouveau";
			color: #008766;
			width: 80px;
    		height: 29px;
			background-color: #99E2D0;
			border: 2px solid #99E2D0;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
			z-index: 777;
			margin-top: 15px;
			margin-left: 12rem;
		}	
	}
}

@import "./layout/footer";

@media screen and (min-width: 768px) and (max-width:1023px) {
	
	.main-container {
		max-width: 1023px;
		
	}
	.btn{
		margin-left: auto;
		margin-right: auto;
	}
	.process__step{
		margin-left: auto;
		margin-right: auto;
	}
	.loader{
		height: 100px;
		font-size: 30px;
		p{
			font-size: 30px;
		}
	}
	.restaurants__cards {
		.card__badge--nouveau {
			&::before{
				margin-top: 15px;
				margin-left: 40rem;
			}	
		}
	}
}

@media screen and (min-width: 1024px) and (max-width:1440px){
	.main-container {
		max-width: 1440px;
		
	}
	.section__bg-color{
		.btn{
			margin-bottom: 40px;
		}
	}
	.process__step{
		width: 45%;
		margin-left: 0%;
		
		
	}
	.process__steps{
		flex-direction: row;
		justify-content: space-between;
		gap: 25px;
		width: 80%;
		margin-left: 11%;
	}
	.process__title{
		padding-left: 10%;
	}
	.restaurants{
		height: auto;
	}
	.restaurants__title{
		padding-left: 9%;
	}
	.restaurants__cards{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin-left: 9%;
		margin-right: auto;
		a{
			width: 36%;
			height: 251px;
			margin-bottom: 45px;
			margin-right: 11%;
		}
	}
	.loader{
		height: 100px;
		font-size: 50px;
		p{
			font-size: 50px;
		}
	}
	.restaurants__cards {
		.card__badge--nouveau {
			&::before{
				margin-top: 15px;
				margin-left: 16rem;
			}	
		}
	}
}