@import "./layout/header";
@import "./utils/mixins";
@import "./utils/variables";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/footer";

body {
	margin: 0%;
}
.main-container {
	width: 100%;
	height: 100%;
	max-width: 767px;
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	overflow: hidden;
}

.icon-location {
	@include position;
	background-color: $bg__location--color;
	padding: 15px;
	border-top: 2px solid rgb(216, 214, 214);
}

.location {
	padding-left: 15px;
}
.location__field {
	input {
		width: 90px;
		padding-left: 10px;
		border-style: hidden;
		background-color: $bg__location--color;
		cursor: pointer;
	}
}
.section__bg-color {
	background-color: $bg__color--lightgrey;
	overflow-y: hidden;
}
h1 {
	font-size: 24px;
	font-weight: 700;
	margin: 0% 10%;
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
    font-family: $font__family--Roboto;
}
p {
	font-size: 18px;
	margin: 0%;
	text-align: center;
	margin-bottom: 55px;
    font-family: $font__family--Roboto;
}

.btn {
	&:hover {
		background: #eba2d6;
		border: 1px solid #bfb5cc;
	}
}
.process__steps{
    margin-bottom: 40px;
}

.process__title {
	padding: 0 15px;
	font-size: 24px;
	font-weight: 700;
    font-family: $font__family--Roboto;
}
.process__step {
    @include position;
	width: 85%;
	height: 72.38px;
	border: 1px solid #F6F6F6;
	border-radius: 20px;
	margin-left: 25px;
	margin-bottom: 20px;
	align-items: center;
    font-family: $font__family--Roboto;
	background-color: $bg__color--lightgrey;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
	position: relative;
	cursor: pointer;
	.process__icon {
		.process__text {
			display: flex;
			text-align: center;
		}
	}
}
.process__step {
	&:hover {
		background-color: #e0c7d9;
	}
	margin-bottom: 20px;
    border: none;
}
.process__icon {
	color: #7E7E7E;
	margin-left: 20px;
	&:hover {
		color: $primary__color;
	}
}
.process__text {
	font-size: 16px;
	font-weight: 500;
	margin: 10%;
	margin-left: 5%;
}

.process__number {
    @include position;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 25px;
	font-size: 14px;
	background-color: $primary__color;
	text-align: center;
	color: $text__color--white;
	transform: translate(-140px, 0px);
}

.restaurants {
	background-color: $bg__color--lightgrey;
	padding: 10px 15px;
}

.restaurants__title {
	font-size: 24px;
	font-weight: 700;
    font-family: $font__family--Roboto;
}

.restaurants__cards {
	.card {
		width: 100%;
		height: 251px;
		border-radius: 15px;
		background-color: $bg__color--white;
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		height: 174px;
		border-radius: 15px 15px 0px 0px;
		position: relative;
	}
	a {
		text-decoration: none;
		color: $text__color--black;
		margin: 0%;
		text-align: left;
		width: 29%;
        font-family: $font__family--Roboto;
	}
	.card__txt {
        @include position__hpcard--txt;
		width: 100%;
		height: 77px;
		padding-left: 10px;
		padding-top: 10px;
	}
}

.card__contect {
	@include position__colonne;
	.card__title {
		margin: 0%;
		padding-bottom: 5px;
		font-size: 18px;
		font-weight: 800;
	}
	.card__subtitle{
		font-size: 17px;
		font-weight: 300;
	}
}
.card__icon--heart {
	i {
		position: absolute;
		transform: translate(37vh, -9vh);
	}
}

.icon__heart--full {
	opacity: 0;
	&:active {
		opacity: 1;
		background-color: linear-gradient($secondary__color, $primary__color);
		background-clip: text;
		-webkit-background-clip: text;
		color: $color__transparent;
		cursor: pointer;
		transition: all 1s linear;
	}
}

.card .card__badge--nouveau {
    width: 80px;
    height: 29px;
    background-color: #99E2D0;
    color: #008766;
    border: 2px solid #99E2D0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    transform: translate(28vh, -36vh);
    
  }

  .card__badge--nouveau p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: $font__family--Roboto;
    padding-top: 5px;
    
  }

@import "./layout/footer";


