.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
.footer {
  background-color: #353535;
  width: 100%;
  height: 180px;
  position: absolute;
  padding-top: 0%;
  padding-bottom: 50px;
}

.footer__title {
  color: #FFFFFF;
  font-size: 25px;
  font-style: italic;
  padding-top: 1px;
  padding-left: 15px;
  font-family: "Shrikhand", sans-serif;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  padding: 5px 15px;
}

.footer__links i {
  padding-right: 7px;
}

.footer__links .fa-utensils {
  padding-right: 13px;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  footer {
    margin-top: 20px;
  }
  .footer {
    height: 100px;
  }
  .footer__title {
    position: relative;
    top: 64px;
    left: 85%;
  }
  .footer__links {
    flex-direction: row;
    margin-left: 25%;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: rotate(180deg);
    transition-duration: 5s;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: rotate(180deg);
    transition-duration: 5s;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInOut {
  0% {
    background-color: linear-gradient #FF79DA, #9356DC;
    z-index: 9999;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader {
  12% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }
  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }
  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }
  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }
  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#card__loader {
  display: none;
}

.menu__image img {
  width: 100%;
  height: 275px;
  position: absolute;
  object-fit: cover;
}

.fa-arrow-left {
  color: #000000;
  position: absolute;
  left: 5%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__restaurant {
  height: auto;
  background-color: #f3f3f3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 220px;
  padding-bottom: 220px;
  font-family: "Roboto", sans-serif;
}

.menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_title--name {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-style: italic;
  margin-left: 0%;
}

.restaurant__favorite i {
  position: absolute;
  right: 13px;
  top: 35px;
}

.restaurant__favorite .icon__heart--full {
  opacity: 0;
}
.restaurant__favorite .icon__heart--full:hover {
  opacity: 1;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: all 2s linear;
}

.bordered__title {
  margin-left: 5%;
  border-bottom: 4px solid #99E2D0;
}

.menu__contain--entree {
  padding-bottom: 10px;
}

.menu__contain--plats {
  padding-bottom: 10px;
}

.menu__contain--desserts {
  padding-bottom: 10px;
}

.menu__card--contain {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  border: #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  padding-top: 2px;
  margin-bottom: 15px;
  font-family: "roboto", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card--contain:hover .dish__price {
  transform: translateX(0);
  margin-left: 20px;
}
.menu__card--contain:hover .dish__price .dish__choise {
  background-color: #99E2D0;
  visibility: visible;
}
.menu__card--contain:hover .dish__price .dish__choise .fa-circle-check {
  transform: rotate(2turn);
}
.menu__card--contain:hover h3, .menu__card--contain:hover h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish__name {
  background-color: white;
  height: 100%;
  width: 100%;
  margin-left: 9px;
  background: transparent;
  overflow: hidden;
}
.dish__name h3 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 0%;
  margin-bottom: 5px;
  margin-top: 3px;
}
.dish__name h4 {
  font-size: 15px;
  font-weight: 300;
  margin: 0%;
}

.dish__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 65px;
  transform: translateX(40px);
  transition: all 700ms;
  margin: 0%;
}
.dish__price p {
  font-size: 15px;
  font-weight: 700;
  margin-top: 4.3rem;
  margin-right: 70px;
}
.dish__price .dish__choise {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 8px;
  width: 50px;
  height: 65px;
  border-radius: 0 20px 20px 0;
  visibility: hidden;
}
.dish__price .dish__choise .fa-circle-check {
  color: white;
  font-size: 1rem;
  transition: all 1s;
}

.menu__contain--entree {
  animation: slideInFromLeft 3s ease-in-out;
  animation-fill-mode: both;
}

.menu__contain--plats {
  animation: slideInFromRight 3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.menu__contain--desserts {
  animation: slideInFromLeft 3s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 4s;
}

.btn {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .menu__title .restaurant__favorite {
    position: relative;
    top: -38px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .menu__restaurant {
    margin-left: 10%;
    margin-right: 10%;
    top: 245px;
  }
  .menu__title .restaurant__favorite {
    position: relative;
    top: -38px;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=style-restaurants.css.map */