/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0%;
}

.main-container {
  width: 100%;
  height: 2180px;
  max-width: 767px;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

/*Headline*/
.logo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.icon-location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 15px;
  border-top: 2px solid rgb(216, 214, 214);
}

.location {
  padding-left: 15px;
}

.location__field input {
  width: 90px;
  padding-left: 10px;
  border-style: hidden;
  background-color: #EAEAEA;
  cursor: pointer;
}

.section__bg-color {
  background-color: #F6F6F6;
  overflow-y: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0% 10%;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-size: 18px;
  margin: 0%;
  text-align: center;
  margin-bottom: 55px;
}

.btn {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  margin-left: 15%;
  margin-bottom: 50px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: #eba2d6;
  border: 1px solid #bfb5cc;
}

.process__title {
  padding: 0 15px;
  font-size: 24px;
  font-weight: 700;
}

.process__step {
  width: 80%;
  height: 72.38px;
  display: flex;
  justify-content: center;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
}

.process__steps :hover {
  background-color: #e2bed8;
}

.process__icon {
  color: #7E7E7E;
  margin-left: 20px;
}

.process__icon :hover {
  color: #9356DC;
}

.process__text {
  font-size: 16px;
  font-weight: 500;
  margin: 10%;
  margin-left: 5%;
}

.process__number {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  font-size: 14px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  transform: translate(-130px, 0px);
}

.process__step .process__icon .process__text {
  display: flex;
  text-align: center;
}

.process__steps {
  padding-bottom: 20px;
}

/****** Restaurants ***********/
.restaurants {
  background-color: #F6F6F6;
  padding: 10px 15px;
}

.restaurants__title {
  font-size: 24px;
  font-weight: 700;
}

.restaurants__cards .card {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.restaurants__cards img {
  Width: 100%;
  Height: 174px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

.restaurants__cards a {
  text-decoration: none;
  color: black;
  margin: 0%;
  text-align: left;
  width: 29%;
}

.restaurants__cards .card__txt {
  Width: 100%;
  Height: 77px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
  padding-top: 10px;
}

.card__contect .card__title {
  margin: 0%;
  padding-bottom: 5px;
}

.card__icon--heart i {
  position: absolute;
  transform: translate(32vh, -9vh);
}

.icon__heart--full {
  opacity: 0;
}

.icon__heart--full:active {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: all 1s linear;
}

.card .card__badge--nouveau {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  border: 2px solid #99E2D0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  transform: translate(26vh, -33vh);
}

.card__badge--nouveau p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 3px;
}

.footer {
  background-color: #353535;
}

.footer__title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 5px 15px;
  font-family: "Shrikhand", sans-serif;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 15px;
}

.footer__links i {
  padding-right: 7px;
}

.footer__links .fa-utensils {
  padding-right: 13px;
}





