.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  margin-left: 15%;
  margin-bottom: 50px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: 195px;
  position: absolute;
}

.footer__title {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding-left: 15px;
  font-family: "Shrikhand", sans-serif;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  padding: 5px 15px;
}

.footer__links i {
  padding-right: 7px;
}

.footer__links .fa-utensils {
  padding-right: 13px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    rotate: 180deg;
    transition-duration: 5s;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    rotate: 180deg;
    transition-duration: 5s;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInOut {
  0% {
    background-color: #07fdf1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
    background-color: transparent;
  }
}
@keyframes loader {
  12% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }
  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }
  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }
  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }
  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.main-container {
  height: 1750px;
}

.menu__image img {
  width: 100%;
  height: 275px;
  position: absolute;
}

.fa-arrow-left {
  color: #000000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__restaurant {
  height: 1240px;
  background-color: #f3f3f3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 220px;
  font-family: "Roboto", sans-serif;
}

.menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_title--name {
  font-family: "Shrikhand", sans-serif;
  font-size: 28;
  font-style: italic;
  margin-left: 0%;
}

.restaurant__favorite i {
  position: absolute;
  right: 13px;
  top: 35px;
}

.bordered__title {
  margin-left: 15px;
  border-bottom: 4px solid #99E2D0;
}

.menu__contain--entree {
  padding-bottom: 10px;
}

.menu__contain--plats {
  padding-bottom: 10px;
}

.menu__contain--desserts {
  padding-bottom: 10px;
}

.menu__contain--entree .menu__card {
  animation: slideInFromLeft 3s ease-in-out;
  animation-fill-mode: both;
}

.menu__contain--plats .menu__card {
  animation: slideInFromRight 3s ease-in-out;
  animation-fill-mode: both;
}

.menu__contain--desserts .menu__card {
  animation: slideInFromLeft 3s ease-in-out;
  animation-fill-mode: both;
}

.menu__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 88%;
  height: 72px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 0 15px;
  padding-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.menu__card:hover .dish__name {
  width: 80%;
  transition: 950ms;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__card:hover .dish__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5%;
}
.menu__card:hover .dish__price {
  margin-right: 25%;
  transition: 700ms;
}
.menu__card:hover .dish__choise {
  visibility: visible;
  margin-right: 60%;
  transition: all 2s;
  transform: translate(-30%, 0%);
}
.menu__card:hover .dish__choise i {
  transform: rotate(2turn);
  transition: transform 2s;
}

.dish__name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 22%;
}

.dish__descriptionandprice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -40px;
}

.dish__description {
  font-size: 15px;
  font-weight: 300;
}

.dish__price {
  margin-right: 5%;
  font-size: 15px;
  font-weight: 700;
}

.dish__choise {
  position: absolute;
  margin-left: 81%;
  visibility: hidden;
}
.dish__choise button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 75px;
  background-color: #99E2D0;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  position: relative;
}
.dish__choise i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background-color: #FFFFFF;
  color: #99E2D0;
}

.btn {
  width: 50%;
  margin-left: 25%;
}

.footer {
  margin-top: 66%;
}/*# sourceMappingURL=style-restaurants.css.map */