@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    50%{
        rotate: 180deg;
        transition-duration: 5s;
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
      }
      50%{
        rotate: 180deg;
        transition-duration: 5s;
    }
      100% {
        transform: translateX(0);
      }
  }
  @keyframes fadeInOut {
    0% {
      background: linear-gradient ($secondary__color, $primary__color);
      z-index: 9999;
      opacity: 1;
    }
    95%{
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes loader {
    12% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  @keyframes fadeOut {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}