@mixin position{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position__colonne{
    @include position;
    flex-direction: column;
}

@mixin position__card--txt{
    display: flex;
    flex-direction: column;
    align-items: start;
}