

@mixin position{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position__hpcard--txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    
}

@mixin position__card--txt{
    display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin position__colonne{
    display: flex;
    justify-content: center;
    flex-direction: column;
}





@mixin padding10px{
    padding-bottom: 10px;
}

@mixin ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

