$text__color--white: #FFFFFF;
$primary__color: #9356DC;
$secondary__color: #FF79DA;
$tertiary__color: #99E2D0;
$text__color--black: #000000;
$color__transparent: transparent;
$badge__text--color: #008766;
$bg__location--color: #EAEAEA;
$bg__color--lightgrey: #f3f3f3;
$bg__color--white: #FFFFFF;
$bg__footer--color: #353535;
$loader__color--words: #07fdf1;
$loader__color--word: #7c0c9e
